In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
a = [1, 7, 2]
myvar = pd.Series(a, index = ["a", "b", "c"])
print(myvar)

a    1
b    7
c    2
dtype: int64

In [3]:
print(myvar["b"])

7

In [4]:
data = {
  "Sno": [0,1,2,3,4],
  "Name": ["Faisal", "Faiq", "Haseeb", "Fasih", "Asfand"],
  "Mobile" : [343,343,564,2343,6456],
  "Gender" : ["M","M","M","M","M"],
  "Section":["A","B","A","B","C"]
}
#load data into a DataFrame object:
df = pd.DataFrame(data,index = ["student1", "student2", "student3","student4","student5"])
print(df.loc[["student2"]])

          Sno   Name  Mobile Gender Section
student2    1  imran     343      M       B

In [6]:
df = pd.read_csv('Lemonade.csv')
print(df.head(2))

       Date     Day  Temperature  Rainfall  Flyers  Price  Sales
0  1/1/2017  Sunday         27.0      2.00      15    0.3     10
1  2/1/2017  Monday         28.9      1.33      15    0.3     13